---
const personalImageAlt = "Jose Andree"
---
<div class="px-4 print:py-4 print:mb-4 py-8 mb-20">
    <h2 class="text-[#999999] text-[40px] lg:text-[80px] font-bold">Sobre mí</h2>
    <div class="flex flex-col lg:flex-row w-full items-center mt-6 lg:mt-8 print:mt-4 gap-8">
        <div class="w-full lg:w-2/3 print:w-full">
            <p class="lg:text-lg leading-6 lg:leading-9 tracking-widest text-[#6d6d6d] text-base">
                Soy Desarrollador de Software con más de 3 años de experiencia en el sector bancario, especializado en GeneXus, Bantotal y entornos AS/400. Mi trayectoria se centra en el desarrollo y mantenimiento de módulos core financieros, como préstamos personales, hipotecarios, comisiones y transacciones batch. Me caracterizo por garantizar la continuidad operativa y por optimizar procesos críticos, asegurando la confiabilidad de los sistemas bancarios de misión crítica.
            </p>
        </div>
        <div class="w-full lg:w-1/3 print:hidden">
            <img src="./me.png" alt={personalImageAlt} class="rounded-full "/>
        </div>
    </div>
</div>