---
const currentYear = new Date().getFullYear();
---

<footer class="md:pl-0 mt-16 w-full mx-auto container lg:max-w-full md:max-w-2xl` flex justify-center bg-[#F5F5F5] fixed z-10 bottom-0 left-0 right-0 print:hidden">
  <div
    class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between lg:text-left text-center px-4 py-4"
  >
    <span class="text-sm text-center text-zinc-800/90"
      >&copy; {currentYear}
      <a 
      href="https://www.linkedin.com/in/jose-andree-sanchez-tenaud" 
      target="_blank"
      rel="noopener noreferrer"
      class="hover:underline">Jose Andree</a> • todos los derechos reservados
    </span>
  </div>
</footer>

<style>
    @media print {
        ninja-keys {
            display: none;
        }
    }
</style>