---
const socialLinks = [
    { name: 'linkedin.', href: 'https://www.linkedin.com/in/jose-andree-sanchez-tenaud' , label: 'linkdin'},
    { name: 'github.', href: 'https://github.com/PykeMG' , label: 'github'},
];
import Location from "../assets/location.astro";
import DownloadCV from "./DownloadCV.astro";
---
<section class="print:py-4 py-24 lg:py-48 w-full relative h-[100vdh] print:h-auto print:max-w-2xl print:mx-auto">
    <div class="absolute print:hidden w-[77%] h-[85%] bg-[#F5F5F5] z-10 top-0 right-0"></div>
    <div class="w-full mx-auto lg:px-28 print:px-0 flex flex-col lg:flex-row print:flex-col items-center gap-8 print:gap-0 z-10 relative">
        <div class="w-full lg:w-1/2 print:w-full flex items-center justify-center">
            <div class="lg:max-w-[440px] print:w-full lg:text-left text-center print:text-center lg:ml-24 print:ml-0">
                <h2 class="text-[40px] lg:text-[100px] font-bold lg:leading-29 text-[#999999] print:hidden">Hola, Soy </h2>
                <h2 class="text-[40px] lg:text-[100px] font-bold lg:leading-29 text-[#999999] print:hidden">Jose Andree</h2>
                <h2 class="text-[100px] font-bold leading-29 text-[#999999] hidden print:block">Jose Andree Sanchez Tenaud</h2>
            </div>
        </div>
        <div class="w-[1px] bg-[#D8D8D8] h-[238px] hidden lg:block print:hidden"></div>
        <div class="px-8 print:px-4 lg:px-19 text-[#6D6D6D] lg:text-left text-center text-sm lg:text-lg font-normal leading-9 tracking-wide w-full lg:w-1/2 print:text-start print:leading-8 print:tracking-widest print:text-lg">
            <p>
                Desarrollador de software en Perú, con experiencia en GeneXus 18, AS400, DB2 y SQL. Trabajo con tecnologías web como JavaScript, TypeScript, React, Angular, Astro y HTML, creando soluciones escalables que integran sistemas legacy con frameworks modernos.
            </p>
            <p class="print:hidden lg:block hidden">
                Descarga mi CV para saber más acerca de mi.
            </p>
            
            <div class="flex lg:justify-start justify-center w-full items-center gap-11 mt-4 print:hidden">
                {
                socialLinks.map((item) => (
                    <a 
                        href={item.href} 
                        target="_blank"
                        rel="noopener noreferrer"
                        class="tracking-[6.33px] text-base font-medium text-black uppercase"
                        aria-label={item.label}
                    >{item.name}</a>
                ))
            }
            </div>
            <div class="flex items-center gap-2 mt-6 justify-center lg:justify-start text-sm ml-1 print:hidden">
                <span class="relative flex size-3">
                    <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-emerald-500 opacity-75"></span>
                    <span class="relative inline-flex size-3 rounded-full bg-emerald-500"></span>
                </span>
                <p>Buscando nuevas oportunidades</p>
            </div>
            <div class="flex items-center gap-2 mt-2 justify-center lg:justify-start text-[#7E7C7C] text-sm print:hidden">
                <Location class="inline w-4 h-4 mb-1"/> 
                <span>Lima, Perú</span>
            </div>
            <div class="mt-6 print:hidden block lg:hidden">
                <DownloadCV />
            </div>
        </div>
    </div>
</section>